@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Signika+Negative&display=swap');

.home-title {
    font-family: 'Signika Negative';
    font-size: 2em;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
}
#hero-msg {
    text-align: center;
}
button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #ffffff;
    font-family: 'Rubik', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color:#ECCE83;
    font-family: 'Signika Negative';
}
nav a:hover {
    background-color: #6FD0D9;
    color: #ffffff;
}
.book {
    background-color: #6FD0D9;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.book:hover {
    background-color:#ECCE83;
    color: #264653
}
h2 {
    margin: 0;
}
#background {
    background-color: #6FD0D9;
}
.msg {
    background-color: #264653;
    color: #ffffff;
    font-family: 'Rubik', 'Helvetica', sans-serif;
    font-size: .8em;
    line-height: 1.5em;
}
footer {
    background-color: #d9c2a3;
    font-family: 'Rubik', 'Helvetica', sans-serif;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    color: #264653;
}
footer p a:hover {
    text-decoration: underline;
    color: #6FD0D9;
} 
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}