@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Nunito:wght@200&display=swap');


header {
    background-color:#a7b8c4;
    font-family: 'Nunito', sans-serif;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    
}
nav a {
    
    color: #2e1d0b;
    text-decoration: none;
}
nav a:hover {
    background-color: #0b1101;
    color: #ffffff;
}
footer {
    background-color: #a7b8c4;
    font-family: 'Nunito', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
}
