@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Nunito:wght@200&display=swap');


header {
    background-color:#a7b8c4;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 1fr;


}
.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 50%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #a77533;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
nav {
    display: block;
    float: none;
    width: auto;
    margin-top: 40px;
    margin-left: 100px;
    padding: 50px;
    

}
nav a {
    color: #2e1d0b;
    margin-right: 75px;

}
nav a:hover {
    background-color: #0b1101;
    color: #ffffff;
}
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    background-color: #0b1101;
}
.picture-me {
    background-color: #2e1d0b;
    margin-top: 50px;
    padding: 15px;
    box-shadow: 5px 5px 10px white;
    grid-column: 2/5;
    width: 500px
    
    
}
.msg {
    grid-column: 6/10;
    margin-top: 50px;
    background-color: #2e1d0b;
    color: #ffffff;
    box-shadow: 5px 5px 10px white;
    width: 500px
}
.msg h1 {
    font-family: 'Bitter', serif;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    
}

.msg p {
    font-family: 'Bitter', serif;
    font-size: 1.5em;
    line-height: 1.5em;
    padding-bottom: 15px;
    text-align: center;
}
footer {
    background-color: #a7b8c4;
    font-family: 'Nunito', sans-serif;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
}

/* -------------------------------- Page 2 --------------------------------------- */

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #0b1101;
  column-gap: 15px;
}
.me {
  grid-column: 2;
  margin-top: 30px;
  background-color: #2e1d0b;
  color: #ffffff;
  box-shadow: 5px 5px 10px white;
  width: 100%;
  padding-bottom: 15px;
}
.me h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 15px;
  text-align: center;
}

.me p {
  font-family: 'Bitter', serif;
  font-size: .9em;
  line-height: 1.2em;
  padding-bottom: 15px;
  text-align: center;
}

.boxing {
  background-color: #2e1d0b;
  margin-top: 100px;
  padding: 15px;
  box-shadow: 5px 5px 10px white;
  grid-column: 1;
  width: 90%;
  

}
.books {
  background-color: #2e1d0b;
  margin-top: 100px;
  padding: 15px;
  box-shadow: 5px 5px 10px white;
  grid-column: 3;
  width: 90%
  
}

.container_three {
position: relative;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_three {
  position: absolute;
  top: 115px;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 69%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a7b8c4;
}

.container_three:hover .overlay_three {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.container_two {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_two {
  position: absolute;
  top: 115px;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 69%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a7b8c4;
}

.container_two:hover .overlay_two {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* -------------------------------- Page 3 --------------------------------------- */
.values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #0b1101;
  column-gap: 15px;
}

.hard_Work {
  background-color: #2e1d0b;
  margin-top: 200px;
  padding: 15px;
  box-shadow: 5px 5px 10px white;
  grid-column: 1;
  width: 90%;
  

}
.equality {
  background-color: #2e1d0b;
  margin-top: 100px;
  padding: 15px;
  box-shadow: 5px 5px 10px white;
  grid-column: 3;
  width: 90%
  
}